<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cgmarketplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.OrderInvoiceActivity"></activity>
        <activity android:name=".activities.OrderDetailActivity" />
        <activity android:name=".activities.ShippingAddressActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.CatalogActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.TransactionActivity" />
        <activity android:name=".activities.WishlistActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.LandingPage3Activity" />
        <activity android:name=".activities.LandingPage2Activity" />
        <activity android:name=".activities.LandingPage1Activity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.DetailActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>